<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DataServiceMapper">

    <resultMap id="DataVoMap" type="com.example.demo.entity.vo.DataVo">
        <result property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="sendSysCode" column="send_sys_code"/>
        <result property="accSysCode" column="acc_sys_code"/>
        <result property="name" column="name"/>
        <result property="txCode" column="tx_code"/>
        <result property="date" column="date"/>
        <result property="count" column="count"/>
    </resultMap>

    <select id="selectData" resultType="com.example.demo.entity.vo.DataVo">
        select id , project_id,send_sys_code,acc_sys_code,name,tx_code, SUM(count) as count
        from td_data_statistic
        <where>
            <if test="sendSysCode != null and sendSysCode != ''">
                send_sys_code = #{sendSysCode}
            </if>
            <if test="accSysCode and accSysCode != ''">
                AND acc_sys_code = #{accSysCode}
            </if>
            <if test="date!=null and date != ''">
                AND date between #{startDate} ANd #{endDate}
            </if>
            Group By project_id,send_sys_code,tx_code,acc_sys_code,`name`;
        </where>
    </select>
</mapper>
